<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${cp}/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${cp}/layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-card" style="margin-bottom: 0;">
    <div class="layui-card-body">
        <form class="layui-form" action="${cp}/suser/save" style="margin-top: 10px;" method="post">
            <#if user?? && user.id??>
                <input type="hidden" value="${user.id}" name="id" id="id">
            </#if>
            <div class="layui-form-item">
                <label class="layui-form-label">登录名</label>
                <div class="layui-input-block">
                    <input type="text" name="loginName" lay-verify="required|loginName" <#if user?? && user.id??>readonly</#if> autocomplete="off" placeholder="请输入登录名"
                           value="${user.loginName!''}"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="text" name="password" lay-verify="required" autocomplete="off" placeholder="请输入密码"
                           value="${user.password!''}"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">证件号码</label>
                <div class="layui-input-block">
                    <input type="text" name="idCard" lay-verify="" autocomplete="off" placeholder="请输入证件号码"
                           value="${user.idCard!''}"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">手机号码</label>
                <div class="layui-input-block">
                    <input type="text" name="phone" lay-verify="required" autocomplete="off" placeholder="请输入手机号码"
                           value="${user.phone!''}"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入姓名"
                           value="${user.name!''}"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属部门</label>
                <div class="layui-input-block">
                    <input type="text" id="gxpcs_hash" lay-verify="required" placeholder="请输入所属部门" name="deptName" autocomplete="off"  value="${user.deptName!''}"
                           class="layui-input">
                    <input type="text" style="display: none" lay-verify="required" id="gxdwid_hash" name="deptId" value="${user.deptId!''}">
                </div>
            </div>
            <div class="layui-form-item" style="text-align:center">
                <div class="layui-btn-group">
                    <button class="layui-btn" lay-submit="" lay-filter="sub" style="background-color: #1797be">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="${cp}/layuiadmin/layui/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['jquery', 'form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , $ = layui.$
            , laydate = layui.laydate;

        //自定义验证规则
        form.verify({
            loginName: function (value, item) {
                var flag = false;
                var id = $("#id").val();
                if(!id){
                    $.ajax({
                        url: "${cp}/suser/checkLoginName?name=" + value,
                        async:false,
                        success: function (d) {
                            flag = d;
                        }
                    });
                    if (flag) {
                        return '该登录名已存在';
                    }
                }
            }
        });

        //监听提交
        form.on('submit(sub)', function (data) {
            var loading_img = layer.load(1, {
                shade: [0,'#B3B3B3'] // 0透明度的白色背景
            });

        });

        $("#gxpcs_hash").on('click',function () {
            layer.open({
                title: '派出所选择',//标题
                btn: ['确定', '重置'],
                content: '${cp}/tree/dw?single=true',//url地址,single：是否单选
                type: 2,//不用改
                shade: 0.3,//不用改
                area: ['450px', '380px'],//宽度、高度
                maxmin: true,
                yes: function (index, layero) {
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    $("#gxdwid_hash").val(iframeWin.checkedid);
                    $("#gxpcs_hash").val(iframeWin.checkedname);
                    layer.close(index);
                },
                btn2: function (index, layero) {
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    iframeWin.clear();//清除选中的节点
                    return false;
                },
                cancel: function (index, layero) {
                    layer.close(index);
                    return false;
                }
            });
        });
    });
</script>

</body>
</html>